<!doctype html>
<html>
<head>

<style type="text/css">

table {
  border: 0;
  font-family: arial;
  font-size:10px;
  width: 100%;
  table-layout: auto;
  text-align:center;
}

table thead tr{
    display:block;
}

table th,table td{
    width:100px; 
}


table  tbody{
  display:block;
  height:500px;
  overflow:auto;
}

tr:nth-child(even) {background-color: #f2f2f2}

#div_date_select{
    padding: 20px;  
}

#div_date_select, #div_stock_list, #div_description {
     padding: 10px 0px; /*up_down, left_right */
}


div 

</style>
<%
  //console.dir(result);
%>
  <title> <%=title%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./js_external/echart/echarts-all.js"></script>
  <script src="./js_external/bootbox/bootbox.min.js"></script>

  <script type="text/javascript">

  function btn_add_monitor(item) 
  { 
      var stockId = item.value;
      console.log("Add Stock:" + stockId);
      var URLs = "add_stock_monitor";
            
      let bootbox_prompt_init = {};
      bootbox_prompt_init.title = "加入監控名單 ";
      bootbox_prompt_init.inputType = 'select';
      bootbox_prompt_init.inputOptions = [];
      let options = {};
      options.text = '加入新名單...';
      options.value = 'AddNewMonitorName';
      bootbox_prompt_init.inputOptions.push(options);

      for (let monitorName of g_monitor_list)
      {
           let options = {};
           options.text = monitorName;
           options.value = monitorName;
           bootbox_prompt_init.inputOptions.push(options);
      } 
      bootbox_prompt_init.callback = bootbox_Cb;

      function bootbox_Cb(result){
           console.log("INFO - [Monitor List]:" + result);
           
          function __f_send_to_server(monitorName)
          {
                var compose = {};
                compose.stockInfo = {};
                compose.stockInfo.stockId = stockId;                                         
                compose.stockInfo.date = g_stock_date;
                compose.stockInfo.stockObj = g_stock_info_id_dict[stockId];;                
                compose.monitor_name = monitorName; /* select value is monitor name */

                $.ajax({
                      url: URLs,
                      data: JSON.stringify(compose),
                      type:"POST",
                      dataType:'json',
                      contentType: "application/json; charset=utf-8",

                      success: function(res){              
                          debugger;          
                          g_monitor_list = res;          		
                          bootbox.alert("Success!");
                      },
                      error:function(xhr, ajaxOptions, thrownError){
                          bootbox.alert("Fail!" + xhr.status + ' ' + thrownError);

                      }
                }); /* ajax */
          }

           if((result != '') && (result != null)){
                debugger;
                if (result == 'AddNewMonitorName')
                {
                   bootbox.prompt({
                      title: "新增Monitor名稱",
                      inputType: 'textarea',
                      callback: function (result) {  
                          debugger;                                                
                          __f_send_to_server(result);
                      }
                   });
                }else
                {
                    __f_send_to_server(result);
                }
            }else{                
                 bootbox.alert("請選擇一個Monitor Name");
            }
      } /*function - bootbox_cb */

      bootbox.prompt(bootbox_prompt_init);

  }/* btn_add_monitor() */
  
  var g_stock_date;
  var g_stock_info_id_dict = {}; 
  var g_monitor_list = <%- JSON.stringify(monitor_list)%>;
  var g_stock_all_obj = <%- JSON.stringify(srtpAllObj) %>; 

  $(document).ready(function(){
        
        /* TODO: List all date for user */
      
        var g_info_description = "<%=description%>";
        var gStockDateList = <%- JSON.stringify(result)%>;
          
        /* Init HTML Content */  
        initHtmlContent();
        /* Init Date Select */                


        $( "#stock_date_sel" ).change(function() {
          g_stock_date = $( "#stock_date_sel option:selected").text();         
          for (var stockData of gStockDateList)
          {
              console.log(stockData.date);
              if (stockData.date == g_stock_date)break;

          }   
          var stock_info_list = JSON.parse(stockData.data);
          var stock_date = stockData.date;
          var g_stock_info_id_dict = showStockDailyInfo(stock_info_list);

          $('#span_date').html(stockData.date);
        });

        function showStockDailyInfo(stock_info_list)
        {
            var temp_html = '';
            var stock_info_id_dict = {};
            var idx = 0;

            /* sort by Gross Spread (漲跌) */                      
            function compare(a,b) {
                if (a.stockDailyInfo.GSP < b.stockDailyInfo.GSP)
                  return 1;
                if (a.stockDailyInfo.GSP > b.stockDailyInfo.GSP)
                  return -1;
                
                return 0;
            }          

            stock_info_list.sort(compare);
            
            /* Clean HTML content */
            $('#stock_info_tbl_body').empty();

            for (stockInfo of stock_info_list)
            {
               var stockId = stockInfo.stockInfo.stockId;
               stock_info_id_dict[stockId] = stockInfo;

               /*********************************************/
               /* Special condition */               
               //if ((parseFloat(stockInfo.stockDailyInfo.TV_times.TV_times)*10) < 13)  /* 1.3 times is teacher's experience */
               if ((parseFloat(stockInfo.stockDailyInfo.TV_times.TV_times)*10) < 10)  /* 1.3 times is teacher's experience */
               {
                  console.log("Skip:" + stockInfo.stockInfo.stockName);
                  console.log("Skip TV times:" + stockInfo.stockDailyInfo.TV_times.TV_times);
                  // Skip
                  continue;
               }

               if ((Math.round(stockInfo.stockDailyInfo.TV/1000)) < 100)
               {
                  console.log("Skip:" + stockInfo.stockInfo.stockName);
                  console.log("Skip TV:" + Math.round(stockInfo.stockDailyInfo.TV/1000));
                  // Skip
                  continue;
               }
               /*********************************************/

               //console.dir(stockInfo);
               var dataDateTempList = stockInfo.stockDailyInfo.date.split('/');
               var dataDateStr =  dataDateTempList[1] + '-' + dataDateTempList[2]; /* MM/DD */               

               var web_link = 'https://stock.cnyes.com/market/TSE:' + stockId + ':STOCK';

               //var type = (stockInfo.stockDailyInfo.type == 'P->N')?'<font color=\"green\">跌</font>':'<font color=\"red\">漲</font>';
               var type = (stockInfo.stockDailyInfo.GSP < 0)?'<font color=\"green\">跌</font>':'<font color=\"red\">漲</font>';
               var GS = (stockInfo.stockDailyInfo.GS < 0) ?
                        '<font color=\"green\">' + stockInfo.stockDailyInfo.GS + '</font>' :
                        '<font color=\"red\">' + stockInfo.stockDailyInfo.GS + '</font>';

               var GSP = (stockInfo.stockDailyInfo.GSP < 0) ?
                        '<font color=\"green\">' + stockInfo.stockDailyInfo.GSP + '%</font>' :
                        '<font color=\"red\">' + stockInfo.stockDailyInfo.GSP + '%</font>';

               var add_btn_html = '<button type="button" class="btn btn-default btn-xs" id="stock_add_btn_' + stockId + '" value="' +
                                 stockId + '" onclick="btn_add_monitor(this)"><span class="glyphicon glyphicon-eye-open"></span></button>';

               var cp_html = (stockInfo.stockDailyInfo.GSP < 0) ?
                             '<span class="label label-success">' + stockInfo.stockDailyInfo.CP + '</span>':
                             '<span class="label label-danger">' + stockInfo.stockDailyInfo.CP + '</span>';
               try {
                    var currentPrice = g_stock_all_obj[stockId].currentPrice;
                    var today_cp_html = '<span class="label label-default">' + currentPrice + '</span>';
                            
                    var price_delta = (parseFloat(g_stock_all_obj[stockId].currentPrice) - parseFloat(stockInfo.stockDailyInfo.CP));
                    var price_delta_p_str = (((price_delta/parseFloat(stockInfo.stockDailyInfo.CP))*100).toFixed(1)).toString();
                    var price_delta_str =  price_delta.toFixed(2).toString() + '<p> (' + price_delta_p_str + '%)';

                    var price_delta_html = (price_delta >= 0)?
                                          '<font color=\"red\"><b>' + price_delta_str + '</b></font>':
                                          '<font color=\"green\"><b>' + price_delta_str + '</b></font>';                     
               } catch(err){
                    var currentPrice = 'Error';
                    var today_cp_html = '<span class="label label-default">' + currentPrice + '</span>';                                              
                    var price_delta_html = '<font color=\"red\"><b>' + 'Error' + '</b></font>';                                                           
               }


               temp_html = '<tr>' + 
                           '<td><a target=\"_blank\" href=\"' + web_link + '\">' + stockId + '</a></td>' + 
                           '<td>' + stockInfo.stockInfo.stockName + '</td>' +
                           '<td>' + today_cp_html + '</td>' + 
                           '<td>' + price_delta_html + '</td>' + 
                           '<td>' + cp_html + '</td>' + 
                           '<td>' + GS + '</td>' + 
                           '<td>' + GSP + '</td>' + 
                           '<td>' + type + '</td>' +                                                       
                           '<td>' + stockInfo.stockDailyInfo.MA.MA60 + '</td>' + 
                           /*
                           '<td>' + stockObj.stockDailyInfo.MA.MA20 + '</td>' + 
                           '<td>' + stockObj.stockDailyInfo.MA.MA10 + '</td>' + 
                           '<td>' + stockObj.stockDailyInfo.MA.MA5 + '</td>' + 
                           */
                           '<td><span class="badge">' + stockInfo.stockDailyInfo.TV_times.TV_times + '</span></td>' +  
                           '<td>' + Math.round(stockInfo.stockDailyInfo.TV/1000) + '</td>' + 
                           '<td>' + Math.round(stockInfo.stockDailyInfo.TV_times.TVMA_05/1000) + '</td>' +                            
                           /* 
                           '<td>' + stockInfo.stockInfo.YR + '</td>' + 
                           '<td>' + stockInfo.stockInfo.PRE + '</td>' + 
                           '<td>' + stockInfo.stockInfo.PBR + '</td>' + 
                           */
                           '<td>' + dataDateStr + '</td>' +
                           '<td>' + add_btn_html + '</td>' + 
                           '</tr>';

               $('#stock_info_tbl_body').append(temp_html);

               idx ++;
            } /* for */
            return stock_info_id_dict;
        } /* showStockDailyInfo */

        function genDateSelectInfo(stockDateList)
        {
            var html = '';
            console.dir(stockDateList);
            //stockDateList.sort();
            stockDateList.sort(function(a, b) {
               return moment(a.date) - moment(b.date);
            });
            console.dir(stockDateList);
            for(stockInfo of stockDateList)
            {                
                html += '<option>' + stockInfo.date + '</option>';
            } /* for */
            $('#stock_date_sel').append(html); 
        }/* showDateSelectInfo */
        
        function initHtmlContent()
        { 
          /* Init stock list information */          
          var stoackDataListLen = gStockDateList.length;
          var gStockData = gStockDateList[stoackDataListLen-1];  /* default use latest data */
          var g_stock_info_list = JSON.parse(gStockData.data);
          g_stock_date = gStockData.date;
          g_stock_info_id_dict = showStockDailyInfo(g_stock_info_list);

           $('#span_description').append(g_info_description);
           $('#span_date').append(gStockData.date);           
           genDateSelectInfo(gStockDateList);
           $('#stock_date_sel').val(gStockData.date);
        } /* initHtmlContent */
  });


    </script>
</head>
<body>
<div class="row" id='div_date_select'>

  <div class="col-sm-3">
    <div class="form-group">      
      <select class="form-control" id="stock_date_sel">
        <!-- generate by genDateSelectInfo -->
      </select>
    </div>
  </div>
</div>

<!-- <span class="label label-default" id='span_description'><%=description%></span> -->
<div class="row" id="div_description">

  <div class="col-sm-10">
   <span class="label label-info" id='span_date' style="display:none"></span>
   <p>
   <span class="label label-success" id='span_description'></span>   
  </div>
</div> 

<div class="row" id="div_stock_list">
  <div class="col-sm-10">
  <table class="table">
    <thead class="thead-inverse">
     <tr>
        <th>ID</th>
        <th>Name</th>
        <th>(今日)收盤價</th>         
        <th>Delta</th>    
        <th>(當時)收盤價</th>         
        <th>(當時)漲跌</th>
        <th>(當時)漲跌幅</th>
        <th>Type</th>             
        <th>MA60</th>
<!--    <th>MA20</th> -->
<!--    <th>MA10</th> -->
<!--    <th>MA5</th> -->
        <th>成交量比</th>
        <th>成交量</th>
        <th>成交量MA5</th>  
<!--              
        <th>殖利率</th>
        <th>本益比</th>
        <th>股價淨值比</th>       
-->        
        <th>加入時間</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id='stock_info_tbl_body'>
      <!-- generate by showStockDailyInfo -->
    </tbody>
  </table>
  </div>
</div>
</body>
</html>